<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_Class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5434/bdr</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">mama2119</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping resource="com/abbayllc/resources/Employee.hbm.xml"/>
    </session-factory>
</hibernate-configuration>